<h1>Recepit for travel</h1>
<h4>Receipt#<%= rand(1000) %></h4>

<div class="row">
  <div class="col-md-4">
    <h2>Train name</h2>
    <h4><%= @train.name() %></h4>
  </div>
  <div class="col-md-4">
    <h2>Departure</h2>
    <h4>Time: <%= @train.departure_time() %></h4>
    <h4>Location: <%= @train.departure_location() %></h4>
  </div>
  <div class="col-md-4">
    <h2>Arrival</h2>
    <h4>Time: <%= @train.arrival_time() %></h4>
    <h4>Location: <%= @train.arrival_location() %></h4>
  </div>
</div>
<h4>Train route:</h4>
<% @train.cities().each() do |city| %>
  <h5><%= city.name() %></h5>
<% end %>

<a href="/" class = "btn btn-success active" role = "button">Home</a>
