<h1><%= @train.name() %></h1>
<div class="row">
  <div class="col-md-4">
    <h2>Departure</h2>
    <h4>Time: <%= @train.departure_time() %></h4>
    <h4>Location: <%= @train.departure_location() %></h4>
  </div>
  <div class="col-md-4">
    <h2>Arrival</h2>
    <h4>Time: <%= @train.arrival_time() %></h4>
    <h4>Location: <%= @train.arrival_location() %></h4>
  </div>
</div>
<h4>Train route:</h4>
<% @train.cities().each() do |city| %>
  <h5><%= city.name() %></h5>
<% end %>

<!-- <div class="row">
  <br>
  <div class="col-md-2">
    <a href="/system_operator" class = "btn btn-success active" role = "button">Go Back</a>
  </div>
  <div class="col-md-3">
    <form action="/trains/<%= @train.id() %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class = "btn btn-danger active" type="submit">Delete <%= @train.name() %></button>
    </form>
  </div>
  <div class="col-md-3">
    <a href="/city/new" class = "btn btn-primary active" role = "button">Click here to add a new city</a>
  </div>
</div> -->
